@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #b9b9b9;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
